<!DOCTYPE html>
<html>
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>Sign UP</title>

		<meta name="keywords" content="HTML5 Template"/>
		<meta name="description" content="Porto - Responsive HTML5 Template">
		<meta
		name="author" content="okler.net">

		<!-- Favicon -->
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>
		<link
		rel="apple-touch-icon" href="img/apple-touch-icon.png">

		<!-- Mobile Metas -->
		<meta
		name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link
		id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light&display=swap" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{{asset('externalAssets/bootstrap/css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{asset('externalAssets/fontawesome-free/css/all.min.css')}}">
		<link rel="stylesheet" href="{{asset('externalAssets/theme.css')}}">
		<link rel="stylesheet" href="{{asset('externalAssets/theme-elements.css')}}">
		<link rel="stylesheet" href="{{asset('externalAssets/jquery.dropdown.css')}}">
		<link
		rel="stylesheet" href="{{asset('externalAssets/wizard/css/smart_wizard_all.css')}}">

		<!-- Skin CSS -->
		<link id="skinCSS" rel="stylesheet" href="{{asset('externalAssets/skins/default.css')}}">
		<style>
			.switch-primary {
				padding: 6px 10px;
			}

			.collapse ul {
				padding: 6px 0;
			}

			.dropdown-toggle i{
            display:none;
         }
         
			.header-body {
				background: #1a8495 !important;
			}
			#header i {
				color: white;
			}
			a {
				color: #0088CC;
			}

			.card {
				padding: 10px 50px;
			}

			.tab-content {
				overflow: scroll;
			}

			@media(max-width: 800px) {
				#smartwizard .nav {
					display: none;
				}

			}
		</style>
	</head>
	<body data-plugin-page-transition>

		<div class="body">
			{% include "home/navbar.html.twig" %}

			<div role="main" class="main mt-5">
				<div class="container">
					<div class="row">
						{% if not form.vars.valid %}
							<div class="alert alert-error">
								<div class="alert alert-warning alert-dismissible fade show" role="alert">
									<strong>Info!</strong>
									You should check in on some of those fields below.
									<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
								</div>
							</div>
						{% endif %}
					</div>
					<div id="smartwizard">
						<ul class="nav">
							<li>
								<a class="nav-link" href="#step-1">
									Step 1<br>
									Personal Information
								</a>
							</li>
							<li>
								<a class="nav-link" href="#step-2">
									Step 2<br>
									Addresses
								</a>
							</li>
							<li>
								<a class="nav-link" href="#step-3">
									Step 3<br>
									Detail infromation
								</a>
							</li>
							<li>
								<a class="nav-link" href="#step-4">
									Step 4<br>
									Bio
								</a>
							</li>
						</ul>
						{{form_start(form)}}
						<div class="tab-content">
							<div id="step-1" class="tab-pane" role="tabpanel">
								<div class="row">
									<div class="col-md-4">
										<label>{{form_label(form.fname)}}</label>
										{{form_widget(form.fname)}}
										<div class="form-error">
											{{ form_errors(form.fname) }}
										</div>
									</div>
									<div class="col-md-4">
										<label>{{form_label(form.mname)}}</label>
										{{form_widget(form.mname)}}
										<div class="form-error">
											{{ form_errors(form.mname) }}
										</div>
									</div>
									<div class="col-md-4">
										<label>{{form_label(form.lname)}}</label>
										{{form_widget(form.lname)}}
										<div class="form-error">
											{{ form_errors(form.lname) }}
										</div>
									</div>
								</div>

								<div class="row mt-4">
									<div class="col-md-4">
										<label>{{form_label(form.sex)}}</label>
										{{form_widget(form.sex)}}
										<div class="form-error">
											{{ form_errors(form.sex) }}
										</div>
									</div>
								</div>

								<div class="row mt-4">
									<div class="col-md-4">
										<label>{{form_label(form.religion)}}</label>
										{{form_widget(form.religion)}}
										<div class="form-error">
											{{ form_errors(form.religion) }}
										</div>
									</div>
									<div class="col-md-4">
										<label>{{form_label(form.birthdate)}}</label>
										{{form_widget(form.birthdate)}}
										<div class="form-error">
											{{ form_errors(form.birthdate) }}
										</div>
									</div>
								</div>

								<div class="row mt-4">
									<div class="col-md-4">
										<label>{{form_label(form.color)}}</label>
										{{form_widget(form.color)}}
										<div class="form-error">
											{{ form_errors(form.color) }}
										</div>
									</div>
									<div class="col-md-4">
										<label>{{form_label(form.height)}}</label>
										{{form_widget(form.height)}}
										<div class="form-error">
											{{ form_errors(form.height) }}
										</div>
									</div>
								</div>
							</div>

							<div id="step-2" class="tab-pane" role="tabpanel">
								<div class="row mt-4">
									<div class="col-md-5">
										<label>{{form_label(form.email)}}</label>
										{{form_widget(form.email)}}
										<div class="form-error">
											{{ form_errors(form.email) }}
										</div>
									</div>
									<div class="col-md-5">
										<label>{{form_label(form.phone)}}</label>
										{{form_widget(form.phone)}}
										<div class="form-error">
											{{ form_errors(form.phone) }}
										</div>
									</div>
								</div>

								<div class="row mt-4">
									<div class="col-md-5">
										<label>{{form_label(form.city)}}</label>
										{{form_widget(form.city)}}
										<div class="form-error">
											{{ form_errors(form.city) }}
										</div>
									</div>
								</div>

								<div class="row mt-4">
									<div class="col-md-5">
										<label>{{form_label(form.nationality)}}</label>
										{{form_widget(form.nationality)}}
										<div class="form-error">
											{{ form_errors(form.nationality) }}
										</div>
									</div>
								</div>
							</div>

							<div id="step-3" class="tab-pane" role="tabpanel">
								<div class="row mt-4">
									<div class="col-md-6 ">
										<label>{{form_label(form.maritalStatus)}}</label>
										{{form_widget(form.maritalStatus)}}
										<div class="form-error">
											{{ form_errors(form.maritalStatus) }}
										</div>
									</div>
								</div>
								<div class="row mt-4">
									<div class="col-md-6 ">
										<label>{{form_label(form.education)}}</label>
										{{form_widget(form.education)}}
										<div class="form-error">
											{{ form_errors(form.education) }}
										</div>
									</div>
								</div>
								<div class="row mt-4">
									<div class="col-md-6 ">
										<label>{{form_label(form.occupation)}}</label>
										{{form_widget(form.occupation)}}
										<div class="form-error">
											{{ form_errors(form.occupation) }}
										</div>
									</div>
								</div>
								
							</div>
							<div id="step-4" class="tab-pane" role="tabpanel">
								<div class="row mt-4">
									<div class="col-md-6 ">
										<label>{{form_label(form.quote)}}</label>
										{{form_widget(form.quote)}}
										<div class="form-error">
											{{ form_errors(form.quote) }}
										</div>
									</div>
								</div>
								<div class="row mt-4">
									<div class="col-md-6 ">
										<label>{{form_label(form.message)}}</label>
										{{form_widget(form.message)}}
										<div class="form-error">
											{{ form_errors(form.message) }}
										</div>
									</div>
								</div>

								<div class="row mt-4">
									<div class="col-md-6 ">
										<label>{{form_label(form.profileImage)}}</label>
										{{form_widget(form.profileImage)}}
										<div class="form-error">
											{{ form_errors(form.profileImage) }}
										</div>
									</div>
								</div>

								<div class="row mt-4">
									<div class="col-md-6 ">
										<label>{{form_label(form.save)}}</label>
										{{form_widget(form.save)}}
									</div>
								</div>
							</div>
						</div>
						{{form_end(form)}}
					</div>
				</div>
			</div>
			{% include "home/footer.html.twig" %}

		</div>
		<script src="{{asset('externalAssets/jquery/jquery.min.js')}}"></script>
		<script src="{{asset('externalAssets/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
		<script src="{{asset('externalAssets/theme.js')}}"></script>
		<script src="{{asset('externalAssets/wizard/js/jquery.smartWizard.js')}}"></script>
		<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js" integrity="sha256-hlKLmzaRlE8SCJC1Kw8zoUbU8BxA+8kR3gseuKfMjxA=" crossorigin="anonymous"></script>
		<script src="{{asset('externalAssets/theme.init.js')}}"></script>
		<script src="{{asset('externalAssets/jquery.dropdown.js')}}"></script>
		<script>
			$(".likes").dropdown({multipleMode: 'label'});
$(".dislikes").dropdown({multipleMode: 'label'});
$(document).ready(function () { // SmartWizard initialize
$('#smartwizard').smartWizard();

});
		</script>
	</body>
</html>
