<!DOCTYPE html>
<html>
	<head>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RZ11993Q2V"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RZ11993Q2V');
</script>



		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<title>Home</title>

		<meta name="keywords" content="HTML5 Template"/>
		<meta name="description" content="ቆንጆ ፍቅር - Konjo Fikir - Let's try is now">
		<meta
		name="author" content="okler.net">

		<!-- Favicon -->
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>
		<link
		rel="apple-touch-icon" href="img/apple-touch-icon.png">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link
		id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light&display=swap" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{{asset('assets/bootstrap/css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{asset('assets/fontawesome-free/css/all.min.css')}}">
		<link rel="stylesheet" href="{{asset('assets/theme.css')}}">
		<link rel="stylesheet" href="{{asset('assets/theme-elements.css')}}">
		<link
		rel="stylesheet" href="{{asset('assets/theme-blog.css')}}">

		<!-- Skin CSS -->
		<link id="skinCSS" rel="stylesheet" href="{{asset('assets/skins/default.css')}}">
		<style>

 



			.switch-primary {
				padding: 6px 10px;
			}

			.collapse ul {
				padding: 6px 0;
			}

			.header-body {
				/*background: #1a8495 !important;*/
				background: #1a8495 !important;

			}
			#header i {
				color: white;
			}
			a {
				color: #0088CC;
			}
			.ds-none {
				display: none;
			}

			p {
				margin: 2px 0 0;
			}

			.col-lg-custom > .card {
				margin-bottom: 20px;
				border: 1px solid #d9d9d9 !important;
			}

			.text-muted {
				font-size: 0.8rem;
			}

			.w-100 {
				height: 150px; 
			}

	

			.card-header {
				background-color: white;
				padding: 6px 10px;
			}
			.name {
				margin-bottom: 2px;
				font-weight: 700;
				font-size: 15px;
				line-height: 22px;
				color: #414141;
			}

			label {
				font-size: 0.93em;
				color: rgb(57 57 78);
			}

			.dropdown-toggle i {
				display: none;
			}

			.play-button {
				color: #1a84ed;
				float: right;

			}
			
			

			/*media of width greater than or equal to 992px, laptops, desktops, projectors */
			@media(min-width: 992px) {
				.col-lg-custom {
					flex: 0 0 auto;
					width: 20%;
				}

				.col-lg-10 {
					flex: 0 0 auto;
					width: 80%;
				}

				.col-lg-2 {
					flex: 0 0 auto;
					width: 20%;
				}

				#audioval
				{
					position: relative;
					display: inline-block; 
					width: 160px;
				}



			}

		   /*media of width less than or equal to 992px, phones, tablets*/
			@media(max-width: 992px) {
				/*li > a.dropdown-item {
					color: white !important;
				}*/
				li > a.dropdown-item
				{
					color: black !important;
				}
				li > a.dropdown-toggle
				{
					color: white !important;
				}

				.w-100 {
				   height: auto; 
		     	}
				 	#audioval
				{
					position: relative;
					display: inline-block; 
					width: 320px;
				}
				 
			}

			@media(max-width: 600) {
				.card-body img {
					height: auto;
				}
				
				 
			}

.notifications {
  background-color: #555;
  color: white;
  text-decoration: none;
  /*padding: 15px 26px;*/
  /*position: relative;*/
  display: inline-block;
  border-radius: 2px;
}

.notifications:hover {
  background: red;
}

.notifications .badge {
  /*position: relative;*/
  top: -10px;
  right: -10px;
  /*padding: 5px 10px;*/
  border-radius: 50%;
  background: red;
  color: white;
}




		</style>
 	</head>
	<body data-plugin-page-transition>





		

										 



{# <div {{ turbo_stream_listen('product_views') }}></div> #}
		<div class="body">
			{% include "home/navbar.html.twig" %}
			<div role="main" class="main">
				<div class="container-fluid py-4">
					<div class="row">
						<div class="col-lg-2 col-md-3">
							<aside class="sidebar">
								{# <form action="page-search-results.html" method="get">
									<div class="input-group mb-3 pb-1">
										<input class="form-control text-1" placeholder="Search..." name="s" id="s" type="text">
										<button type="submit" class="btn btn-dark text-1 p-2">
											<i class="fas fa-search m-2"></i>
										</button>
									</div>
								</form> #}
								<form id="filter-form">
									<h5 class="font-weight-semi-bold pt-4">Filters</h5>
									<ul class="nav nav-list flex-column mb-5">


										 {# <li class="nav-item">
											<div class="accordion" id="accordion3">
												<div class="card card-default">
													<div class="card-header" id="collapse1Headingthree">
														<a class="accordion-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#collapse1three" aria-expanded="false" aria-controls="collapse1three">
															Name
															<span style="float:right">
																<i class="fa fa-chevron-right font-awesome"></i>
															</span>
														</a>
													</div>
													<div id="collapse1three" class="collapse" aria-labelledby="collapse1Headingthreee" style="">
														<div class="">
															<ul>
																<li class="nav-item">
																	<div class="switch switch-lg switch-primary">
																		<label>
																			<input type="checkbox" class="sub-list name-checkbox" name="name[]" value="first">
																			&nbsp; A-E
																		</label>
																	</div>
																</li>
																<li class="nav-item">
																	<div class="switch switch-lg switch-primary">
																		<label>
																			<input type="checkbox" class="name-checkbox sub-list" name="name[]" value="second">
																			&nbsp; F-J
																		</label>
																	</div>
																</li>

																<li class="nav-item">
																	<div class="switch switch-lg switch-primary">
																		<label>
																			<input type="checkbox" class="name-checkbox sub-list" name="name[]" value="third">
																			&nbsp; K-0
																		</label>
																	</div>
																</li>
																<li class="nav-item">
																	<div class="switch switch-lg switch-primary">
																		<label>
																			<input type="checkbox" class="name-checkbox sub-list" name="name[]" value="fourth">
																			&nbsp; P-T
																		</label>
																	</div>
																</li>
																<li class="nav-item">
																	<div class="switch switch-lg switch-primary">
																		<label>
																			<input type="checkbox" class="name-checkbox sub-list" name="name[]" value="fifth">
																			&nbsp;U-Z
																		</label>
																	</div>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</li>  #}


										

									{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
										<li class="nav-item">
											<div class="accordion" id="accordion1">
												<div class="card card-default">
													<div class="card-header" id="collapse1HeadingOne">
														<a class="accordion-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#collapse1One" aria-expanded="false" aria-controls="collapse1One">
															Sex
															<span style="float:right">
																<i class="fa fa-chevron-right font-awesome"></i>
															</span>
														</a>
													</div>
													<div id="collapse1One" class="collapse" aria-labelledby="collapse1HeadingOne" style="">
														<div class="">
															<ul>
																<li class="nav-item">
																	<div class="switch switch-lg switch-primary">
																		<label>
																			<input type="checkbox" class="sex-checkbox sub-list" name="sex[]" value="M">
																			&nbsp; Male
																		</label>
																	</div>
																</li>
																<li class="nav-item">
																	<div class="switch switch-lg switch-primary">
																		<label>
																			<input type="checkbox" class="sex-checkbox sub-list" name="sex[]" value="F">
																			&nbsp; Female
																		</label>
																	</div>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</li>
									{% endif %}

										
										<li class="nav-item">
											<div class="accordion" id="accordion2">
												<div class="card card-default">
													<div class="card-header" id="collapse1Headingtwo">
														<a class="accordion-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#collapse1two" aria-expanded="false" aria-controls="collapse1two">
															Age
															<span style="float:right">
																<i class="fa fa-chevron-right font-awesome"></i>
															</span>
														</a>
													</div>
													<div id="collapse1two" class="collapse" aria-labelledby="collapse1Headingtwo" style="">
														<div class="">
															<ul>
																<li class="nav-item">
																	<div class="switch switch-lg switch-primary">
																		<label>
																			<input type="checkbox" class="age-checkbox sub-list" name="age[]" value="smaller">
																			&nbsp; 18-24
																		</label>
																	</div>
																</li>
																<li class="nav-item">
																	<div class="switch switch-lg switch-primary">
																		<label>
																			<input type="checkbox" class="age-checkbox sub-list" name="age[]" value="small">
																			&nbsp; 25-29
																		</label>
																	</div>
																</li>

																<li class="nav-item">
																	<div class="switch switch-lg switch-primary">
																		<label>
																			<input type="checkbox" class="age-checkbox sub-list" name="age[]" value="big">
																			&nbsp; 30-34
																		</label>
																	</div>
																</li>
																<li class="nav-item">

																	<div class="switch switch-lg switch-primary">
																		<label>
																			<input type="checkbox" class="age-checkbox sub-list" name="age[]" value="bigger">
																			&nbsp; 35-40
																		</label>
																	</div>
																</li>
																<li class="nav-item">
																	<div class="switch switch-lg switch-primary">
																		<label>
																			<input type="checkbox" class="age-checkbox sub-list" name="age[]" value="biggest">
																			&nbsp; >40
																		</label>
																	</div>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>

										</li>

										<li class="nav-item">
											<div class="accordion" id="accordion4">
												<div class="card card-default">
													<div class="card-header" id="collapse1Headingfour">
														<a class="accordion-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#collapse1four" aria-expanded="false" aria-controls="collapse1four">
															Religion
															<span style="float:right">
																<i class="fa fa-chevron-right font-awesome"></i>
															</span>
														</a>
													</div>
													<div id="collapse1four" class="collapse" aria-labelledby="collapse1Headingfour" style="">
														<div class="">
															<ul>
																{% for religion in religions %}
																	<li class="nav-item">
																		<div class="switch switch-lg switch-primary">
																			<label>
																				<input type="checkbox" class="religion-checkbox sub-list" name="religion" value="{{religion.id}}">
																				&nbsp;
																				{{religion.name}}</label>
																		</div>
																	</li>
																{% endfor %}
															</ul>
														</div>
													</div>
												</div>
											</div>
										</li>
									</form>
								</ul>
							</aside>
						</div>

						<div class="col-lg-10 col-md-9" style="border-left: 1px solid #b2d8f2;padding: 0px auto;">
							<div class="blog-posts">
 
								<div class="row users-list">
									{% for user in users %}
								 
<div
											class="col-lg-custom col-md-3  col-sm-6 mb-4 mb-lg-0">
											<!-- Card-->
											<div class="card shadow-sm border-0 rounded">
												<div class="card-body p-0">
												{% set sex = user.sex == "m"? "male" : "female" %}

												{% set profilePicture = asset('uploads/'~ user.username ~'/' ~ user.profileImage ~'') %}

												{% if not user.profileImage %}
													{% set profilePicture = asset('/assets/images/'~ sex ~'.png') %}
												{% endif %}

													<a href="{{ path('user_detail', { uuid: user.uuid}) }}">

												<img src="{{ profilePicture }}" alt="" class="w-100 card-img-top1">
													</a>
													<div class="p-2">
														<p class="mb-0 name">{{user.fname}}
														{% if age_array[user.id] %}
														, {{age_array[user.id]}}
														{% endif %}








   

 


															
															{# <span class="play-button" onclick="play()">
																<i class="far fa-play-circle"></i>
															</span>  #}
														</p>
														{% if user.city %}
															<p>
																{{user.city.country.name}}, 
																{{ user.city.name }}
																</p>
														{% else %}
															<p>Unkown Address</p>
														{% endif %}
														<p class=" text-muted">
															{% if user.nationality %}
																{# {{user.nationality.name}}/ #}
															{% endif %}

															{% if user.religion %}
																 

																 <span>
																<a>{{user.religion.name}}  </a>
															</span>
															{% endif %}
															

															 

													{% set myAudio = asset('uploads/'~ user.username ~'/'~ user.audio) %}
  
													<span class="play-button" onclick="play()" >
													
													<audio controls id="audioval">
														<source src="{{ myAudio }}" type="audio/mp3">
														</audio>
													</span>
												 


														</p>
													</div>
												</div>
											</div>
										</div>
							 
									
										
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% include "home/footer.html.twig" %}

		</div>
		<script src="{{asset('assets/jquery/jquery.min.js')}}"></script>
		<script src="{{asset('assets/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
		<script src="{{asset('assets/theme.js')}}"></script>
		<script src="{{asset('assets/theme.init.js')}}"></script>
		<script>
			var loadControl = {
start: 0,
end: 20,
round: 1,
more: true,
free: true
}
$(".nav-item").on("click", function () {
icon = $(this).find('i');
if ($(icon).hasClass("fa-chevron-right")) {
$(icon).removeClass("fa-chevron-right");
$(icon).addClass("fa-chevron-down");
} else {
$(icon).removeClass("fa-chevron-down");
$(icon).addClass("fa-chevron-right");

}
});

$("input[type='checkbox']").on("change", function () {
$sex = [];
$religion = [];
$name = [];
$age = [];
loadControl.more = true;
$.each($(".age-checkbox:checked"), function (key, value) {
$age.push(value.value);
});

$.each($(".name-checkbox:checked"), function (key, value) {
$name.push(value.value);
});

$.each($(".sex-checkbox:checked"), function (key, value) {
$sex.push(value.value);

});

$.each($(".religion-checkbox:checked"), function (key, value) {
$religion.push(value.value);
});

loadControl.start = 0;
loadControl.end = 20;
loadControl.round = 0
if (loadControl.more) {
$.ajax({
method: 'POST',
url: '{{ path("user_filter") }}',
data: {
start: loadControl.start,
end: loadControl.end,
name: $name,
age: $age,
sex: $sex,
religion: $religion,
draw: loadControl.round
},
success: function (data) {
if (data.users.length == 0) {
loadControl.more = false;
}
else{
	loadControl.more = true;
	loadControl.free = true;
}
$container = $(".users-list");
$(".users-list").html("");
if (data['users'].length > 0 && data['draw'] == loadControl.round) {
loadControl.round += 1;
								console.log("addded from scroll");
data['users'].forEach(user => {
$col = $('<div class="col-lg-custom col-md-3  col-sm-6 mb-4 mb-lg-0"></div>');
$card = $('<div class="card shadow-sm border-0 rounded"></div>');
//var user = $(this)[0][0];

 
{% set sex = "{{ user.sex }}" %}
{% if sex=="m" %}
{% set sex = "male" %}
{% else %}
	{% set sex = "female" %}
{% endif %}

 

var profilePicture = "{{asset('/assets/images/'~ sex ~'.png')}}";

  
if(user.profileImage)
{
	profilePicture = '/uploads/' +user.username+'/'+ user.profileImage;
}
 



$meta = $('<div class="card-body p-0"><a href="/user/' + user.uuid + '/detail"><img src="'+ profilePicture +'" alt="" class="w-100 card-img-top2"></a></div>');

$wrapper = $('<div class="p-2"></div>');

// age calculation
var today = new Date();
var birthDate = new Date(user.dob);
var age1 = today.getFullYear() - birthDate.getFullYear();
var m = today.getMonth() - birthDate.getMonth();
if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
age1--;
}
/*
$name = '<p class="mb-0 name">' + user.fname + ', ' + age1 + '<span class="play-button"><i class="far fa-play-circle"></i></span></p>';*/
$name = '<p class="mb-0 name">' + user.fname + ", " +age1 + ' <span class="play-button"></span></p>';

$city = '<p>' + user.nationality +", "+ user.city + '</p>';
 
$citizenAndReleigion = '<p class=" text-muted">' + user.religionName + '<span></span>  </p>';


var myAudio = '/uploads/' +user.username+'/'+ user.audio;
  
$theAudio = '<span class="play-button" onclick="play()" ><audio controls id="audioval"><source src="'+ myAudio +'" type="audio/mp3"></audio></span>';

												 
$wrapper.append($name);
$wrapper.append($city);
$wrapper.append($citizenAndReleigion);
$wrapper.append($theAudio);
$meta.append($wrapper);
$card.append($meta);
$col.append($card);
$container.append($col);
});
} else {
if (loadControl.round > 1) 
{

} 

else 

$container.append("<center>No Match Found!</center>");

}


$(".blog-posts").append($container);
},
error: function (data) {
}
});
}
});
$(window).bind('scroll', function () {
    if ($(window).scrollTop() >= $('.main').offset().top + $('.main').outerHeight() - (window.innerHeight + 300)) {
		if (loadControl.free) {
			loadControl.free=false;
            $sex = [];
            $religion = [];
            $name = [];
            $age = [];
            $.each($(".age-checkbox:checked"), function (key, value) {
                $age.push(value.value);
            });

            $.each($(".name-checkbox:checked"), function (key, value) {
                $name.push(value.value);
            });

            $.each($(".sex-checkbox:checked"), function (key, value) {
                $sex.push(value.value);
            });

            $.each($(".religion-checkbox:checked"), function (key, value) {
                $religion.push(value.value);
            });

            loadControl.start = loadControl.round * 20;
            if (loadControl.more) {
				loadControl.more=false;
                $(".spinner-border").removeClass("ds-none");
                $.ajax({
                    method: 'POST',
                    url: '{{ path("user_filter") }}',
                    data: {
                        start: loadControl.start,
                        end: loadControl.end,
                        name: $name,
                        age: $age,
                        sex: $sex,
                        religion: $religion,
                        draw: loadControl.round
                    },
                    success: function (data) {

                        var $container = $(".users-list");

                        console.log(data);

                        if (data['users'].length > 0) {
                            if (data['draw'] == loadControl.round) {
								
                                loadControl.round += 1;
								console.log("addded from scroll");
                                data['users'].forEach(user => {
                                    $col = $('<div class="col-lg-custom col-md-3  col-sm-6 mb-4 mb-lg-0"></div>');
                                    $card = $('<div class="card shadow-sm border-0 rounded"></div>');

                                  /* {# $meta = $('<div class="card-body p-0"><a href="/user/' + user.userId + '/detail"><img src="' + user.profileImage + '" alt="" class="w-100 card-img-top3"></a></div>'); #} */

								    {% set sex = "{{ user.sex }}" %}
									{% if sex=="m" %}
									{% set sex = "male" %}
									{% else %}
										{% set sex = "female" %}
									{% endif %}

									var profilePicture = "{{asset('/assets/images/'~ sex ~'.png')}}";
									if(user.profileImage)
									{
										profilePicture = '/uploads/' +user.username+'/'+ user.profileImage;
									}
									$meta = $('<div class="card-body p-0"><a href="/user/' + user.uuid + '/detail"><img src="'+ profilePicture +'" alt="" class="w-100 card-img-top2"></a></div>');







                                    $wrapper = $('<div class="p-2"></div>');

                                    // age calculation
                                    var today = new Date();
                                    var birthDate = new Date(user.dob);
                                    var age1 = today.getFullYear() - birthDate.getFullYear();
                                    var m = today.getMonth() - birthDate.getMonth();
                                    if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
                                        age1--;
                                    }

                                    /*$name = '<p class="mb-0 name">' + user.fname + ', ' + age1 + '<span class="play-button"><i class="far fa-play-circle"></i></span></p>';
                                    $city = '<p>'+user.nationality+ ", " + user.city + '</p>';*/

                                    $name = '<p class="mb-0 name">' + user.fname + ', ' + age1 + '</p>';
                                    $city = '<p>'+user.nationality+ ", " + user.city + '</p>';

                                    $citizenAndReleigion = '<p class=" text-muted">' +  user.religionName + '<span></span>  </p>';



									var myAudio = '/uploads/' +user.username+'/'+ user.audio;
  
									$theAudio = '<span class="play-button" onclick="play()" ><audio controls id="audioval"><source src="'+ myAudio +'" type="audio/mp3"></audio></span>';



                                    $wrapper.append($name);
                                    $wrapper.append($city);
                                    $wrapper.append($citizenAndReleigion);
                                    $wrapper.append($theAudio);
                                    $meta.append($wrapper);
                                    $card.append($meta);
                                    $col.append($card);
                                    $container.append($col);
                                });
                            }
							
							if (data.users.length > 0) {
								loadControl.more = true;
								loadControl.free = true;
							}
                        } else {
                            if (loadControl.round > 1) {
								
							 }
                            else 
							{
								loadControl.more = false;
								loadControl.free = false;
							}

                        }


                        $(".blog-posts").append($container);
						setTimeout(tt, 10000);
                		loadControl.free = true;
                    },
                    error: function (data) {
                        console.log("lksjdf");
                    }
                });

                
            }
        }
    }
});
function tt() {}
		</script>

<script>

   {# $(window).on("load", function () {
	   var tot = "{{ totalMsgs }}";
	   console.log(tot);
	   if(tot > 0)
	   {
 			$("#msg-notification").html("{{ totalMsgs }}");
	   }
	   else 
	   {
 			$("#msg-notification").parent().parent().hide();
	   }
   
}); #}


 /*var x = document.getElementById("myAudio"); 

function playAudio() { 
  x.play(); 
} 

function pauseAudio() { 
  x.pause(); 
} */

</script>



<script>
/*
var myAudio = document.getElementById("myAudios");
var isPlaying = false;

function togglePlay() {
  isPlaying ? myAudio.pause() : myAudio.play();
};

myAudio.onplaying = function() {
  isPlaying = true;
  console.log("8888888888");
};
myAudio.onpause = function() {
  isPlaying = false;
   console.log("99999999999");
};*/

</script>




<script>

 /* function aud_play_pause() {
    var myAudio = document.getElementById("myTune");
    if (myAudio.paused) {
      $('#stateicon').removeClass('fa fa-play');
      $('#stateicon').addClass('fa fa-pause');
      myAudio.play();
    } else {
      $('#stateicon').removeClass('fa fa-pause');
      $('#stateicon').addClass('fa fa-play');
      myAudio.pause();
   }
 }*/

</script>


 <script type="text/javascript">
      function Play()
      {
        var myAudio = document.getElementById("audioval");
        if(myAudio.paused) {
            myAudio.play();
        }
        else {
           myAudio.pause();
        }
      }
    </script>



	</body>
</html>
