<!DOCTYPE html>
<html>
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>Home</title>

		<meta name="keywords" content="HTML5 Template"/>
		<meta name="description" content="Porto - Responsive HTML5 Template">
		<meta
		name="author" content="okler.net">

		<!-- Favicon -->
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>
		<link
		rel="apple-touch-icon" href="img/apple-touch-icon.png">

		<!-- Mobile Metas -->
		<meta
		name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link
		id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light&display=swap" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{{asset('externalAssets/bootstrap/css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{asset('externalAssets/fontawesome-free/css/all.min.css')}}">
		<link rel="stylesheet" href="{{asset('externalAssets/theme.css')}}">
		<link rel="stylesheet" href="{{asset('externalAssets/theme-elements.css')}}">
		<link
		rel="stylesheet" href="{{asset('externalAssets/theme-blog.css')}}">

		<!-- Skin CSS -->
		<link id="skinCSS" rel="stylesheet" href="{{asset('externalAssets/skins/default.css')}}">
		<style>
			.switch-primary {
				padding: 6px 10px;
			}

			.collapse ul {
				padding: 6px 0;
			}

			.header-body {
				background: #1a84ed !important;
			}
			#header i {
				color: white;
			}
			a {
				color: #0088CC;
			}
			.ds-none {
				display: none;
			}

			p {
				margin: 2px 0 0;
			}

			.col-lg-custom > .card {
				margin-bottom: 20px;
				border: 1px solid #d9d9d9 !important;
			}

			.text-muted {
				font-size: 0.8rem;
			}

			.card-body img {
				height: 170px;
				/*   width: 100% !important;*/
			}

			.card-header {
				background-color: white;
				padding: 6px 10px;
			}
			.name {
				margin-bottom: 2px;
				font-weight: 700;
				font-size: 15px;
				line-height: 22px;
				color: #414141;
			}

			label {
				font-size: 0.93em;
				color: rgb(57 57 78);
			}

			.dropdown-toggle i {
				display: none;
			}

			.play-button {
				color: #1a84ed;
				float: right;
			}
			@media(min-width: 992px) {
				.col-lg-custom {
					flex: 0 0 auto;
					width: 20%;
				}

				.col-lg-10 {
					flex: 0 0 auto;
					width: 80%;
				}

				.col-lg-2 {
					flex: 0 0 auto;
					width: 20%;
				}
			}

			@media(max-width: 992px) {
				a.dropdown-item {
					color: black !important;
				}
			}

			@media(max-width: 600) {
				.card-body img {
					height: auto;
				}
			}
		</style>
		{# <link rel="stylesheet" href="{{asset('externalAssets/custom.css')}}"> #}
	</head>
	<body data-plugin-page-transition>

{# <div {{ turbo_stream_listen('product_views') }}></div> #}
		<div class="body">
			{% include "home/navbar.html.twig" %}
			<div role="main" class="main">
				<div class="container-fluid py-4">
					<div class="row">
						<div class="col-lg-2 col-md-3">
							<aside class="sidebar">
								<form action="page-search-results.html" method="get">
									<div class="input-group mb-3 pb-1">
										<input class="form-control text-1" placeholder="Search..." name="s" id="s" type="text">
										<button type="submit" class="btn btn-dark text-1 p-2">
											<i class="fas fa-search m-2"></i>
										</button>
									</div>
								</form>
								<form id="filter-form">
									<h5 class="font-weight-semi-bold pt-4">Filters</h5>
									<ul class="nav nav-list flex-column mb-5">
										<li class="nav-item">
											<div class="accordion" id="accordion3">
												<div class="card card-default">
													<div class="card-header" id="collapse1Headingthree">
														<a class="accordion-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#collapse1three" aria-expanded="false" aria-controls="collapse1three">
															Name
															<span style="float:right">
																<i class="fa fa-chevron-right font-awesome"></i>
															</span>
														</a>
													</div>
													<div id="collapse1three" class="collapse" aria-labelledby="collapse1Headingthreee" style="">
														<div class="">
															<ul>
																<li class="nav-item">
																	<div class="switch switch-lg switch-primary">
																		<label>
																			<input type="checkbox" class="sub-list name-checkbox" name="name[]" value="first">
																			&nbsp; A-E
																		</label>
																	</div>
																</li>
																<li class="nav-item">
																	<div class="switch switch-lg switch-primary">
																		<label>
																			<input type="checkbox" class="name-checkbox sub-list" name="name[]" value="second">
																			&nbsp; F-J
																		</label>
																	</div>
																</li>

																<li class="nav-item">
																	<div class="switch switch-lg switch-primary">
																		<label>
																			<input type="checkbox" class="name-checkbox sub-list" name="name[]" value="third">
																			&nbsp; K-0
																		</label>
																	</div>
																</li>
																<li class="nav-item">
																	<div class="switch switch-lg switch-primary">
																		<label>
																			<input type="checkbox" class="name-checkbox sub-list" name="name[]" value="fourth">
																			&nbsp; P-T
																		</label>
																	</div>
																</li>
																<li class="nav-item">
																	<div class="switch switch-lg switch-primary">
																		<label>
																			<input type="checkbox" class="name-checkbox sub-list" name="name[]" value="fifth">
																			&nbsp;U-Z
																		</label>
																	</div>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</li>
										<li class="nav-item">
											<div class="accordion" id="accordion1">
												<div class="card card-default">
													<div class="card-header" id="collapse1HeadingOne">
														<a class="accordion-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#collapse1One" aria-expanded="false" aria-controls="collapse1One">
															Sex
															<span style="float:right">
																<i class="fa fa-chevron-right font-awesome"></i>
															</span>
														</a>
													</div>
													<div id="collapse1One" class="collapse" aria-labelledby="collapse1HeadingOne" style="">
														<div class="">
															<ul>
																<li class="nav-item">
																	<div class="switch switch-lg switch-primary">
																		<label>
																			<input type="checkbox" class="sex-checkbox sub-list" name="sex[]" value="M">
																			&nbsp; Male
																		</label>
																	</div>
																</li>
																<li class="nav-item">
																	<div class="switch switch-lg switch-primary">
																		<label>
																			<input type="checkbox" class="sex-checkbox sub-list" name="sex[]" value="F">
																			&nbsp; Female
																		</label>
																	</div>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</li>
										<li class="nav-item">
											<div class="accordion" id="accordion2">
												<div class="card card-default">
													<div class="card-header" id="collapse1Headingtwo">
														<a class="accordion-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#collapse1two" aria-expanded="false" aria-controls="collapse1two">
															Age
															<span style="float:right">
																<i class="fa fa-chevron-right font-awesome"></i>
															</span>
														</a>
													</div>
													<div id="collapse1two" class="collapse" aria-labelledby="collapse1Headingtwo" style="">
														<div class="">
															<ul>
																<li class="nav-item">
																	<div class="switch switch-lg switch-primary">
																		<label>
																			<input type="checkbox" class="age-checkbox sub-list" name="age[]" value="smaller">
																			&nbsp; 18-24
																		</label>
																	</div>
																</li>
																<li class="nav-item">
																	<div class="switch switch-lg switch-primary">
																		<label>
																			<input type="checkbox" class="age-checkbox sub-list" name="age[]" value="small">
																			&nbsp; 25-29
																		</label>
																	</div>
																</li>

																<li class="nav-item">
																	<div class="switch switch-lg switch-primary">
																		<label>
																			<input type="checkbox" class="age-checkbox sub-list" name="age[]" value="big">
																			&nbsp; 30-34
																		</label>
																	</div>
																</li>
																<li class="nav-item">

																	<div class="switch switch-lg switch-primary">
																		<label>
																			<input type="checkbox" class="age-checkbox sub-list" name="age[]" value="bigger">
																			&nbsp; 35-40
																		</label>
																	</div>
																</li>
																<li class="nav-item">
																	<div class="switch switch-lg switch-primary">
																		<label>
																			<input type="checkbox" class="age-checkbox sub-list" name="age[]" value="biggest">
																			&nbsp; >40
																		</label>
																	</div>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>

										</li>

										<li class="nav-item">
											<div class="accordion" id="accordion4">
												<div class="card card-default">
													<div class="card-header" id="collapse1Headingfour">
														<a class="accordion-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#collapse1four" aria-expanded="false" aria-controls="collapse1four">
															Religion
															<span style="float:right">
																<i class="fa fa-chevron-right font-awesome"></i>
															</span>
														</a>
													</div>
													<div id="collapse1four" class="collapse" aria-labelledby="collapse1Headingfour" style="">
														<div class="">
															<ul>
																{% for religion in religions %}
																	<li class="nav-item">
																		<div class="switch switch-lg switch-primary">
																			<label>
																				<input type="checkbox" class="religion-checkbox sub-list" name="religion" value="{{religion.id}}">
																				&nbsp;
																				{{religion.name}}</label>
																		</div>
																	</li>
																{% endfor %}
															</ul>
														</div>
													</div>
												</div>
											</div>
										</li>
									</form>
								</ul>
							</aside>
						</div>

						<div class="col-lg-10 col-md-9" style="border-left: 1px solid #b2d8f2;padding: 0px auto;">
							<div class="blog-posts">
 
								<div class="row users-list">
									{% for user in users %}
										<div
											class="col-lg-custom col-md-3  col-sm-6 mb-4 mb-lg-0">
											<!-- Card-->
											<div class="card shadow-sm border-0 rounded">
												<div class="card-body p-0">
													<a href="{{ path('user_detail', { uuid: user.uuid}) }}">
				<img src="{{ asset('uploads/'~ user.username ~'/' ~ user.profileImage ~'') }}" alt="" class="w-100 card-img-top1">
													</a>
													<div class="p-2">
														<p class="mb-0 name">{{user.fname}},
															{{age_array[user.id]}}<span class="play-button">
																<i class="far fa-play-circle"></i>
															</span>
														</p>
														{% if user.city %}
															<p>{{ user.city.name }},
																{{user.city.country.name}}</p>
														{% else %}
															<p>Unkown Address</p>
														{% endif %}
														<p class=" text-muted">
															{% if user.nationality %}
																{{user.nationality.name}}/
															{% endif %}
															<span>
																<a>Orthodox</a>
															</span>
														</p>
													</div>
												</div>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
							<div class="spinner-border" role="status">
								<span class="visually-hidden">Loading...</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% include "home/footer.html.twig" %}

		</div>
		<script src="{{asset('externalAssets/jquery/jquery.min.js')}}"></script>
		<script src="{{asset('externalAssets/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
		<script src="{{asset('externalAssets/theme.js')}}"></script>
		<script src="{{asset('externalAssets/theme.init.js')}}"></script>
		<script>
			var loadControl = {
start: 0,
end: 20,
round: 1,
more: true,
free: true
}
$(".nav-item").on("click", function () {
icon = $(this).find('i');
if ($(icon).hasClass("fa-chevron-right")) {
$(icon).removeClass("fa-chevron-right");
$(icon).addClass("fa-chevron-down");
} else {
$(icon).removeClass("fa-chevron-down");
$(icon).addClass("fa-chevron-right");

}
});

$("input[type='checkbox']").on("change", function () {
$sex = [];
$religion = [];
$name = [];
$age = [];
$.each($(".age-checkbox:checked"), function (key, value) {
$age.push(value.value);
});

$.each($(".name-checkbox:checked"), function (key, value) {
$name.push(value.value);
});

$.each($(".sex-checkbox:checked"), function (key, value) {
$sex.push(value.value);
});

$.each($(".religion-checkbox:checked"), function (key, value) {
$religion.push(value.value);
});

loadControl.start = 0;
loadControl.end = 20;
loadControl.round = 1
if (loadControl.more) {
$.ajax({
method: 'POST',
url: '{{ path("user_filter") }}',
data: {
start: loadControl.start,
end: loadControl.end,
name: $name,
age: $age,
sex: $sex,
religion: $religion,
draw: loadControl.round
},
success: function (data) {
if (data.length == 0) {
loadControl.more = false;
}
$container = $(".users-list");
$(".users-list").html("");
if (data['users'].length > 0 && data['draw'] == loadControl.round) {
loadControl.round += 1;
$.each(data['users'], function () {
$col = $('<div class="col-lg-custom col-md-3  col-sm-6 mb-4 mb-lg-0"></div>');
$card = $('<div class="card shadow-sm border-0 rounded"></div>');
var user = $(this)[0][0];
$meta = $('<div class="card-body p-0"><a href="/user/' + user.idNumber + '/detail"><img src="' + user.profileImage + '" alt="" class="w-100 card-img-top2"></a></div>');
$wrapper = $('<div class="p-2"></div>');

// age calculation
var today = new Date();
var birthDate = new Date($(this)[0].dob);
var age1 = today.getFullYear() - birthDate.getFullYear();
var m = today.getMonth() - birthDate.getMonth();
if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
age1--;
}

$name = '<p class="mb-0 name">' + user.fname + ', ' + age1 + '<span class="play-button"><i class="far fa-play-circle"></i></span></p>';
$city = '<p>' + user.currentCity + ', Ethiopia</p>';

$citizenAndReleigion = '<p class=" text-muted">' + user.nationality + '/ ' + $(this)[0].religionName + '<span></span>  </p>';
$wrapper.append($name);
$wrapper.append($city);
$wrapper.append($citizenAndReleigion);
$meta.append($wrapper);
$card.append($meta);
$col.append($card);
$container.append($col);
});
} else {
if (loadControl.round > 1) {} else 
$container.append("<center>No Match Found!</center>");

}


$(".blog-posts").append($container);
loadControl.round ++;
},
error: function (data) {
console.log("lksjdf");
}
});
}
});

$(window).bind('scroll', function () {

if ($(window).scrollTop() >= $('.main').offset().top + $('.main').outerHeight() - (window.innerHeight + 300)) {
if (loadControl.free) {
$sex = [];
$religion = [];
$name = [];
$age = [];
$.each($(".age-checkbox:checked"), function (key, value) {
$age.push(value.value);
});

$.each($(".name-checkbox:checked"), function (key, value) {
$name.push(value.value);
});

$.each($(".sex-checkbox:checked"), function (key, value) {
$sex.push(value.value);
});

$.each($(".religion-checkbox:checked"), function (key, value) {
$religion.push(value.value);
});

loadControl.start = loadControl.round * 20;
if (loadControl.more) {

$(".spinner-border").removeClass("ds-none");
loadControl.free = false;
$.ajax({
method: 'POST',
url: '{{ path("user_filter") }}',
data: {
start: loadControl.start,
end: loadControl.end,
name: $name,
age: $age,
sex: $sex,
religion: $religion,
draw: loadControl.round
},
success: function (data) {
if (data.length == 0) {
loadControl.more = false;
}
if (data['users'].length > 0) {
if (data['draw'] == loadControl.round) {
$container = $(".users-list");
loadControl.round += 1;
$.each(data['users'], function () {
$col = $('<div class="col-lg-custom col-md-3  col-sm-6 mb-4 mb-lg-0"></div>');
$card = $('<div class="card shadow-sm border-0 rounded"></div>');
var user = $(this)[0][0];
$meta = $('<div class="card-body p-0"><a href="/user/' + user.userId + '/detail"><img src="' + user.profileImage + '" alt="" class="w-100 card-img-top3"></a></div>');
$wrapper = $('<div class="p-2"></div>');

// age calculation
var today = new Date();
var birthDate = new Date($(this)[0].dob);
var age1 = today.getFullYear() - birthDate.getFullYear();
var m = today.getMonth() - birthDate.getMonth();
if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
age1--;
}

$name = '<p class="mb-0 name">' + user.fname + ', ' + age1 + '<span class="play-button"><i class="far fa-play-circle"></i></span></p>';
$city = '<p>' + $(this)[0].currentCity + ', Ethiopia</p>';

$citizenAndReleigion = '<p class=" text-muted">' + user.nationality + '/ ' + $(this)[0].religionName + '<span></span>  </p>';
$wrapper.append($name);
$wrapper.append($city);
$wrapper.append($citizenAndReleigion);
$meta.append($wrapper);
$card.append($meta);
$col.append($card);
$container.append($col);
});
}
} else {
if (loadControl.round > 1) {} else 
$container.append("<center>No Match Found!</center>");

}


$(".blog-posts").append($container);
loadControl.round ++;
},
error: function (data) {
console.log("lksjdf");
}
});

setTimeout(tt, 10000);
$(".spinner-border").addClass("ds-none");
loadControl.free = true;
}
}
}
});
function tt() {}
		</script>
	</body>
</html>
