<!DOCTYPE html>
<html>
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>Sign UP</title>

		<meta name="keywords" content="HTML5 Template"/>
		<meta name="description" content="Porto - Responsive HTML5 Template">
		<meta
		name="author" content="okler.net">

		<!-- Favicon -->
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>
		<link
		rel="apple-touch-icon" href="img/apple-touch-icon.png">

		<!-- Mobile Metas -->
		<meta
		name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light&display=swap" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		{# <link rel="stylesheet" href="{{asset('assets/vendor/materialize/css/materialize.css')}}"> #}
		<link rel="stylesheet" href="{{asset('assets/bootstrap/css/bootstrap.min.css')}}"> <link rel="stylesheet" href="{{asset('assets/fontawesome-free/css/all.min.css')}}">
		<link rel="stylesheet" href="{{asset('assets/theme.css')}}">
		<link
		rel="stylesheet" href="{{asset('assets/theme-elements.css')}}">

		<!-- Skin CSS -->
		<link id="skinCSS" rel="stylesheet" href="{{asset('assets/skins/default.css')}}">
		<style>
			.switch-primary {
				padding: 6px 10px;
			}

			.sign-up-form {
				max-width: 680px;
				margin: 0 auto;
			}

         .form-group .row{
            margin-bottom: 20px;
         }

         div > ul{
            display: none;
         }

         .help-block > ul{
            display: block;
         }

         .row .form-control{

         }

			.card {
				position: relative;
				border: 1px solid rgba(0, 0, 0, 0.06);
				padding: 30px 50px;
            border-radius: 10px;
			}

			.collapse ul {
				padding: 6px 0;
			}

         .sign-up-form h2 {
            color: #636363;
            margin: 0 0 15px;
            position: relative;
            text-align: center;
         }

         .sign-up-form h2:before, .sign-up-form h2:after {
            content: "";
            height: 2px;
            width: 30%;
            background: #d4d4d4;
            position: absolute;
            top: 50%;
            z-index: 2;
         }	
         .sign-up-form h2:before {
            left: 0;
         }
         .sign-up-form h2:after {
            right: 0;
         }

			.header-body {
				background: #1a8495 !important;
			}
			#header i {
				color: white;
			}
			a {
				color: #0088CC;
			}

			.tab-content {
				overflow: scroll;
			}

         .body{
            background: linear-gradient(to top right,#b9a0a9 0%,#0675b7 100%);
         }

			@media(max-width: 800px) {
				#smartwizard .nav {
					display: none;
				}

			}
		</style>
	</head>
	<body data-plugin-page-transition>

		<div class="body">
			{% include "home/navbar.html.twig" %}

			<div role="main" class="main mt-5">
				<div class="container">
					{% if not form.vars.valid %}
						<div class="alert alert-error">
							<div class="alert alert-warning alert-dismissible fade show" role="alert">
								<strong>Info!</strong>
								You should check in on some of those fields below.
								<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							</div>
						</div>
					{% endif %}
				</div>
				{{form_start(form)}}
				<div class="card sign-up-form">
               <h2>Register</h2>
         		<p class="hint-text">Create your account. It's free and only takes a minute.</p>
					<div class="form-group">
						<div class="row">
							<div class="col-md-6 col-xs-12">
								{{ form_row(form.fname,{'label':'First Name' })}}
								<div class="help-block text-danger">{{form_errors(form.fname)}}</div>
							</div>
							<div class="col-md-6 col-xs-12">
								{{ form_row(form.username,{'label':'Username' })}}
								<div class="help-block text-danger">{{form_errors(form.username)}}</div>
							</div>
						</div>
                  <div class="row">
							<div class="col-md-6 col-xs-12">
								{{ form_row(form.city,{'label':'City' })}}
								<div class="help-block text-danger">{{form_errors(form.city)}}</div>
							</div>
							<div class="col-md-6 col-xs-12">
								{{ form_row(form.birthdate,{'label':'Date of birth' })}}
								<div class="help-block text-danger">{{form_errors(form.birthdate)}}</div>
							</div>
						</div>

                  <div class="row">
							<div class="col-md-6 col-xs-12">
								{{ form_row(form.sex,{'label':'Gender' })}}
								<div class="help-block text-danger">{{form_errors(form.sex)}}</div>
							</div>
							<div class="col-md-6 col-xs-12">
								{{ form_row(form.religion,{'label':'Religion'})}}
								<div class="help-block text-danger">{{form_errors(form.religion)}}</div>
							</div>
						</div>

                  <div class="row">
							<div class="col-md-6 col-xs-12">
								{{ form_row(form.plainPassword.first,{'label':'Password' })}}
								<div class="help-block text-danger">{{form_errors(form.plainPassword.first)}}</div>
							</div>
   							<div class="col-md-6 col-xs-12">
								{{ form_row(form.plainPassword.second,{'label':'Repeat Password' })}}
								<div class="help-block text-danger">{{form_errors(form.plainPassword.second)}}</div>
							</div>
						</div>
                  <br>
                   <div class="row">
                     <div class="col"></div>
							<div class="col-md-4 col-xs-12">
								{{ form_row(form.save,{'label':'Save' })}}
                     </div>
                     <div class="col"></div>
						</div>
                  
					</div>
				{{form_end(form)}}
			</div>
			{% include "home/footer.html.twig" %}

		</div>
		<script src="{{asset('assets/jquery/jquery.min.js')}}"></script>
		<script src="{{asset('assets/vendor/materialize/js/materialize.min.js')}}"></script>
		<script src="{{asset('assets/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
		<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js" integrity="sha256-hlKLmzaRlE8SCJC1Kw8zoUbU8BxA+8kR3gseuKfMjxA=" crossorigin="anonymous"></script>
		<script src="{{asset('assets/theme.init.js')}}"></script>

	</body>
</html>
