<!DOCTYPE html>
<html>
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>Gallery -
			{{app.user.fname}}
		</title>

		<meta name="keywords" content="HTML5 Template"/>
		<meta name="description" content="Porto - Responsive HTML5 Template">
		<meta
		name="author" content="okler.net">

		<!-- Favicon -->
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>
		<link
		rel="apple-touch-icon" href="img/apple-touch-icon.png">

		<!-- Mobile Metas -->
		<meta
		name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link
		id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light&display=swap" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{{asset('externalAssets/bootstrap/css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{asset('externalAssets/fontawesome-free/css/all.min.css')}}">
		<link rel="stylesheet" href="{{asset('externalAssets/theme.css')}}">
		<link rel="stylesheet" href="{{asset('externalAssets/theme-elements.css')}}">
		<link rel="stylesheet" href="{{asset('assets/vendor/owl-carousel/owl-carousel.min.css')}}">
		<link rel="stylesheet" href="{{asset('externalAssets/theme-blog.css')}}">
		<link rel="stylesheet" href="{{asset('externalAssets/cropperjs/dist/cropper.min.css')}}">
		<link id="skinCSS" rel="stylesheet" href="{{asset('externalAssets/skins/default.css')}}">
        <style>
			.header-body {
				background: #1a8495 !important;
			}

			#header i {
				color: white;
			}
			span a {
				color: #0088CC !important;
			}
			.body {
				margin-top: 20px !important;
			}
		</style>
	</head>
	<body data-plugin-page-transition>
		{% include "home/navbar.html.twig" %}
		<div class="body">
			<div class="container">
				<div class="row">
                    <div class="col"></div>
                    <div class="col-sm-8">
                        <div class="card card-primary">
                            <div class="card-header">
                                <center><p class="pt-0">            
                                    <h4 style="color: #1884ed"> {% trans %}Send Message {% endtrans %}</h4>
                                </center>
                            </div>
                            <div class="card-body">
                                <p style="color:red">
                                    {% if error != "" %}
                                        {{error}}
                                    {% endif %}
                                </p>  

                                {{ form_start(form,{'attr':{'id':'form'}}) }}
                                {{ form_widget(form)}}
                                <input type="submit" class='btn btn-primary' style="margin-top: 20px" value={{"Send"| trans | raw}}>
                                {{ form_end(form)}}
                            </div>
                        </div>
                        </div>
                        <div class="col"></div>
                    </div>  

			</div>
			{% include "home/footer.html.twig" %}

		</div>
	</body>
	<script src="{{asset('externalAssets/jquery/jquery.min.js')}}"></script>
    <script src="{{asset('assets/vendor/owl-carousel/owl-carousel.min.js')}}"></script> 
	<script src="{{asset('externalAssets/bootstrap/js/bootstrap.bundle.min.js')}}"> </script>
</html>
